body{
    background-color: blueviolet;
}

p{
    color: gold;
}

::placeholder{
    color: gold;
}

h1{
    color: gold;
    font-family: cursive;
}

ul{
    flex-direction: column;
    
}

body{
    text-align: center;
    font-size: 24px;
}

ul{
    font-size: 24px;
}
li{
    list-style-type: none;
}
 
input{
    font-family: cursive;
    font-size: 20px;
    background: ;
}

.flexbox-input{
    display: flex;
}

p{
    
}

